<article class="view questions show">
  <h2>One question</h2>
  <h3><%=@question.q_title %></h3>
  <%= erb :"votes/_vote_question" %>
  <p>votes: <%= @question.votes.count %></p>
  <ul>
    <% @answers.each do |ans|%>
      <li>
        <%=erb :"votes/_vote_answer", locals:{answer: ans}%><%=ans.a_title%>
      </li>
    <%end%>
  </ul>
  <%=erb :"answers/new"%>
</article>